.App {
  text-align: center;
  padding: 2%;
}

h1 {
  font-family:'Josefin Sans';
  padding-top: 30px;
}

.picDrop{
  color:#4b5aff; 
}


.drop-area {
  border: 2px dashed #4b5aff;
  background-color:#4b56d049;
  border-radius: 10px;
  padding: 2.5%;
  margin: auto;
  width: 100%;
  height: 100%; 
  max-width: 60%;
  cursor: pointer;
}

.upload{
  width: 100%;
  height: 100%;
}

.browse-link:hover{
  color:#4b5aff;
}

.upload-placeholder p {
  margin: 5px;
  font-family: 'Josefin Sans';
}

.picdrop-icon{
  width: 70px;
  height: 80px;
  margin-bottom: 10px;
}

.image-preview {
  position: relative;
  display: inline-block;
}

.image-preview img {
  max-width: auto;
  height: auto;
  border-radius: 10px;
}

.image-details {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 20px;
}

.info-icon{
  position: absolute;
  color: white;
  left: 10px;
  bottom: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.reset-button {
  position:absolute;
  color: white;
  right: 10px; 
  bottom: 15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.lang-switch, .theme-switch {
  display: inline-flex;
  align-items: center;
}

.switch-container {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 20px;
}